<div class="welcome-page">
  <div class="welcome-header">
    <h1>Welcome!</h1>
  </div>
  <div class="description">This is a app for the Up and Down Game</div>
  <div class="controls">
    <button mat-raised-button color="primary">Rules</button>
    <button mat-raised-button color="primary" (click)="newGame()">New Game</button>
  </div>
</div>
