.welcome-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.welcome-header {
  grid-column: 1 /span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.description {
  grid-column: 1 /span 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

.controls {
  grid-column: 1 /span 2;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  button:not(:first-child){
    margin-left: 10px;
  }
}
