<form [formGroup]="gameSettingForm">
  <div class="new-game-container">
    <div class="set-cards">
      <mat-form-field class="form-input">
        <input matInput type="number" placeholder="Cards Up To" formControlName="cardsUpTo" name="cardsUpTo">
        <mat-error *ngIf="gameSettingForm.get('cardsUpTo').invalid">Choose between 1 and 7</mat-error>
      </mat-form-field>
      <button class="form-button"
              (click)="setCards()"
              mat-raised-button
              [disabled]="!gameSettingForm.get('cardsUpTo').valid"
              color="primary">
        Set Cards
      </button>
    </div>
    <div class="set-player-name">
      <mat-form-field class="form-input">
        <input matInput type="text" placeholder="Player Name" formControlName="nameControl" name="nameControl">
      </mat-form-field>
      <button class="form-button"
              (click)="addPlayer()"
              mat-raised-button
              [disabled]="!isNameValid(gameSettingForm.get('nameControl').value)"
              color="primary">
        Add
      </button>
    </div>
    <div class="game-info">
      <span>Cards up to: {{state.cardsUpTo}}</span>
      <div class="players-info">
        <span >Players: </span>
        <span *ngIf="scoresState.players.length === 0" >None</span>
        <mat-chip-list>
          <mat-chip *ngFor="let player of scoresState.players"
                    color="primary"
                    selected
                    removable="true"
                    (removed)="removePlayer(player)">{{player.getPlayer()}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <span>Total Rounds: {{state.numberOfRounds}}</span>
    </div>
    <div class="start-game">
      <button mat-stroked-button
              color="primary"
              [disabled]="!gameSettingsInvalid()"
              (click)="startGame()">
        Go!
      </button>
    </div>
  </div>
</form>
