.new-game-container {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  justify-items: center;
}

.form-input {
  max-width: 100px;
}

.form-button {
  width: 150px;
  margin-left: 10px;
}
.set-cards {
  grid-row: 2;
}

.set-player-name {
  grid-row: 3;
}

.game-info {
  display: flex;
  flex-direction: column;
  grid-row: 5;
  span {
    margin-top: 7px;
  }
  //span:not(:first-child) {
  //  margin-left: 10px;
  //}
  mat-chip {
    margin-left: 10px;
  }
}

.start-game {
  grid-row: 6;
}


.players-info {
  display: flex;
  flex-direction: row;
}
