<div>
  <span>Cards up to: {{state.cardsUpTo}}</span>
  <span>Players: </span>
  <span *ngIf="scoresState.players.length === 0">None</span>
  <mat-chip-list>
    <mat-chip *ngFor="let player of scoresState.players"
              color="primary"
              selected>{{player.getPlayer()}}
    </mat-chip>
  </mat-chip-list>
  <span>Total Rounds: {{state.numberOfRounds}}</span>
</div>
